@model SpoorthiShoppingCart.Web.ViewModels.ProductViewModel


<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.ProductID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.UnitPrice)
    </td>
    <td>
        @if (Model.Discontinued == 1)
        {
            <p>YES</p>
        }
        else { <p>NO</p> }
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>



